@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --white: #fff;
    --light-gray: #d2d2d2;
    --purple: #9c63ff;
    --blue-purple: #6c63ff;
    --blue-purple-darker: #423bbc;
}

h1 {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-around {
    justify-content: space-around;
}

.flex-j-center {
    justify-content: center;
}

.flex-center {
    align-items: center;
}

.w-full {
    width: 100%;
}

.board,
.card div {
    border: 1px solid #333;
    border-radius: 3px;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    padding: 25px;
    margin: 25px;
}

.card {
    position: relative;
    width: 150px;
    height: 250px;
    z-index: 0;
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}

.z-1 {
    z-index: 1;
}

.z--1 {
    z-index: -1;
}


.card div {
    width: 150px;
    height: 250px;
    cursor: pointer;
    transition: .5s ease;
}

.card:hover>div {
    transform: rotateY(180deg) scale(-1, 1);
}